/*
  Variables
*/

blue = #125688
offwhite = #fafafa
lightgrey  = #EDEEED
lightgray = lightgrey // OH Canada!

html
  font-size 10px
  font-family sans-serif

p
  font-size 1.6rem
  line-height 1.5
  

  



@font-face {
    font-family: 'billabongregular';
    src: url('https://rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot');
    src: url('https://rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff') format('woff'),
         url('https://rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf') format('truetype'),
         url('https://rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.text {
    font: bolder 12vw 'Alfa Slab One';
    text-align: center;
    margin: 0;
    background:url("https://instagram.fsan1-2.fna.fbcdn.net/vp/1d4811645ae511b48c84143436a48727/5BEB39EB/t51.2885-15/e35/s320x320/36149582_402507556906014_43638516994801664_n.jpg") center;
    margin:                  auto;
    background-size:         contain;
    width: 75vw;
    background-clip:         text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: billabong,  'Monsieur La Doulaise', cursive;
    text-decoration:none; 
}
h1
  
  
  font-family billabong,  'Monsieur La Doulaise', cursive
  text-align center
  font-weight 100
  font-size 12rem
  margin 2rem 0
  letter-spacing -10px
  text-shadow 10px 6px 0 rgba(18, 86, 136, 0.11)
  
  a
    color blue
    text-decoration none
    &:focus
      outline 0

